<head>
  <title>OMGNSFWROFLYOLOLOLGTFO</title>
</head>

<body>
<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h3>Category: OMGNSFWROFLYOLOLOLGTFO</h3>
  <ul>
    <% @best_of.each do |post| %>
      <li><a href="/post?id=<%= post.id %>"><%= post.title %></a></li>
    <% end %>
  </ul> 
</div>
</body>
