  <h3><%= @category_name %></h3>
  <ul>
    <% @posts.each do |post| %>
      <li><a href="/post?id=<%= post.id %>"><%= post.title %></a></li>
    <% end %>
  </ul> 
<br>
<br>
<a href = "/create_post">ADD_POST</a>
