<body>
<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h3><%= @post.title %></h3>
  <ul>
    <%= @post.price ? "<li>Price: #{post.price}</li>" : "" %>
    <%= @post.description ? "<li>#{post.description}</li>" : "" %>


  </ul> 
</div>
</body>
