<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h3>Categories!</h3>
  <ul>
    <% @categories.each do |cat| %>
      <li><a href="/category?id=<%=cat.id %>"><%= cat.title %></a></li>
    <% end %>
  </ul>

  <a href="/create_post">Post something!</a>
</div>
