<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h2>We're like Craigslist, but more betters!</h2>
  <h3>Categories!</h3>
  <ul>
    <% @categories.each do |cat| %>
      <li><a href="/category?id=<%=cat.id %>"><%= cat.title %></a></li>
      <% if @best_of.any? %>
      	<li><a href="/best_of %>"></a>OMGNSFWROFLYOLOLOLGTFO</li>
    	<% end %>
    <% end %>
  </ul>

  <a href="/create_post">Post something!</a>
</div>
