<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <link href="css/application.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- <script src="js/bootstrap.min.js"></script> -->

  <script src="/js/application.js"></script>

  <title><%= @title || "Welcome"%></title>
</head>

<body>

  <div class="fixed-header">
    <div class="content2">
    <h2>
      <a href = '/'>ABESLIST</a>: Like Craigslist, but more betters!
    </h2>
    <ul class = "inline">
      <% Category.all.each do |cat| %>
        <li><a class = "nav" href="/category?id=<%=cat.id %>">:<%= cat.title %></a></li>
      <% end %>
    </ul>
  </div>
  </div>
  


  <div class="content">
    <%= yield %>

  </div>

</body>
</html>
