<body>
<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h3><%= @post.title %></h3>
  <ul>
    <%= @post.description %>
    <% if @post.price %>
      <%= @post.price %>
    <% end %>


  </ul> 
</div>
</body>
