<div class="container">
  <h1>WELCOME TO ABESLIST</h1>
  <h3>SUCCESS!</h3>
  <p>Use this link to edit your post in the future:</p>
  <p><a href="localhost:9393/edit_post?id=<%=@edit_key%>">localhost:9393/edit_post?id=<%=@edit_key%></a></p>
</div>
